<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta http-equiv="Content-Security-Policy" content="<%- csp %>">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  </link>
  <title>Vulnerable CSP Examples</title>
</head>

<body>
  <div class="container">
    <div class="p-3 mb-2 bg-secondary text-white">
      <h1>Challenge4</h1>
      <div class="p-3 mb-2 bg-light text-dark">
        Content-Security-Policy: <%- csp %></br>
        Injected Payload: <%- payload %></br>
      </div>
      <p>
        <a class="btn btn-light" data-toggle="collapse" href="#help" role="button" aria-expanded="false"
          aria-controls="help">
          Help
        </a>
        <a class="btn btn-light" href="/">
          Back
        </a>
      </p>
      <div class="collapse" id="help" class="p-3 mb-2 bg-light text-dark">
        <div class="card card-body text-dark">
          Most CDNs have frameworks and libraries which can be abused in our favour, google is your friend for this one.
        </div>
      </div>
    </div>

    <script src="/javascripts/jquery-3.3.1.slim.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</body>

</html>