<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Vulnerable CSP Examples</title>
</head>

<body>
    <div class="container">
        <div class="p-3 mb-2 bg-secondary text-white">
            <h1>Vulnerable CSP Challenges</h1>
            To trigger an XSS on each challenge just include <b>?payload=PALOAD</b> with your desired payload.</br></br>
            Challenges:
            <div class="p-3 mb-2 bg-light">
                <a href="challenge1">Challenge 1</a></br>
                <a href="challenge2">Challenge 2</a></br>
                <a href="challenge3">Challenge 3</a></br>
                <a href="challenge4">Challenge 4</a></br>
            </div>
            Solutions:
            <div class="p-3 mb-2 bg-light">
                <a href="solution1">Solution 1</a></br>
                <a href="solution2">Solution 2</a></br>
                <a href="solution3">Solution 3</a></br>
                <a href="solution4">Solution 4</a></br>
            </div>
            Resources:
            <div class="p-3 mb-2 bg-light">
                <a target="_blank" href="http://sebastian-lekies.de/csp/bypasses.php">CSP Bypasses</a></br>
                <a target="_blank" href="http://csp-evaluator.withgoogle.com">CSP Evaluator</a></br>
                <a target="_blank"
                    href="https://chrome.google.com/webstore/detail/csp-mitigator/gijlobangojajlbodabkpjpheeeokhfa?hl=en">CSP
                    Mitigator</a></br>
                <a target="_blank" href="https://ai.google/research/pubs/pub45542">CSP Paper</a></br>
                <a target="_blank"
                    href="https://speakerdeck.com/lweichselbaum/csp-a-successful-mess-between-hardening-and-mitigation">CSP:
                    A successful mess between hardening and mitigation</a></br>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>